# Java / Spring Boot
*.class
*.jar
*.war
target/
.mvn/

# Flutter / Dart
.dart_tool/
build/
*.iml
pubspec.lock

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# AIDE (nunca subir al repo)
aide.db
aide.db.new

# Variables de entorno
.env
*.env
